.footer__wrapper {

    padding: 50px 150px;

    display: flex;

    justify-content: space-between;

}

.footer__a {

    text-transform: uppercase;

}

.footer__a:hover {

    opacity: 50%;

}

@media (max-width: 1550px) {

    .footer__wrapper {

        flex-direction: column;

        align-items: center;

        gap: 25px;

    }

    .footer__ul {

        flex-wrap: wrap;

        align-items: center;

        justify-content: center;

    }

}

@media (max-width: 768px) {

    footer {

        display: none;

    }

}