.main__wrapper {

    padding: 150px;

    display: flex;

    flex-direction: column;

    gap: 150px;

}

@media (max-width: 1550px) {

    .main__wrapper {

        padding: 25px;

    }

}